.app {
  display: flex;
  width: 100%;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: #e4e8ea;
}

.sidebar {
  flex: 0 0 40px;
  height: 100%;
  background-color: #101827;
}

.content {
  flex: 1 1 auto;
}

.centeredContent {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  composes: centeredContent;
  color: red;
}

.loader {
  composes: centeredContent;
  text-transform: uppercase;
  font-size: 12px;
}
