.spot {
  display: block;
  width: 14px;
  height: 14px;
  border: 1px dashed #000;
  border-radius: 14px 14px 14px 0%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translate(2px, -16px);
}
.spot:hover:not(.spotOpen) {
  transition: 0.3s all;
  width: 28px;
  height: 28px;
  transform: translate(2px, -30px);
}

.spotOpen {
  position: relative;
  width: 160px;
  height: 70px;
  border: 1px solid #000;
  background-color: #fff;
  transform: translate(2px, -72px);
  z-index: 10;
}

.reply {
  padding: 8px;
}